.Painel {
    
    border: 1px solid;
    overflow: hidden;  
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    height: 230px;
}

.Painel  .Titulo{
    padding: 10px;
    display: flex;
    justify-content: center;
    color:white;
    font-size:xx-large;
}

.Painel .Conteudo{
    background-color: rgb(247, 246, 246);
    color: red;
    padding: 0px;
    flex-grow: 1;
}

.Painel .Conteudo .h3{
    color: red;
}