body{
    background-color: #6C7780;
    color:aliceblue;
}

h1{
    display: flex;
    justify-content: center;
    color:white;
}
/* Deixa espansivo*/
h2{ 
    display: flex;
    justify-content: center;

}
h3{ 
    display: flex;
    justify-content: center;

}

.container {
    position: relative;
  }

.vertical-center {
    margin-top:auto;
    margin-left: 2.5cm;
  }

  button{
      background-color: #98A6B3;
      font-size:large;
  }